$containerHeight: 3rem;
$containerPadding: 0.2rem;
.ListView {
  overflow-y: scroll;
  grid-area: ListView;
}
.ListTile {
  // border: 1px solid black;
  height: $containerHeight;
  margin: auto;
  padding: $containerPadding;
  display: flex;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
  &:active {
    transition: none;

    background-color: lightgray;
  }
  &__avatar {
    background-color: rgb(196, 219, 219);
    border-radius: 50%;
    min-width: $containerHeight - $containerPadding;
    height: 100%;
    display: flex;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;

    &__name {
      width: 100%;
      text-align: left;
    }
    &__vat {
      width: 100%;
      color: rgb(78, 78, 78);
      font-size: 0.9rem;
      font-weight: 100;
      text-align: left;
    }
  }
  .button {
    margin: auto;
    padding: 4rem;
  }
}
