$listTileHeight: 3rem;
$listTilePading: 0.2rem;
$headerHeight: 2.8rem;
.App {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 360px auto;
  grid-column-gap: 10px;
  grid-template-rows: 50px auto;
  grid-template-areas:
    'AppBar AppBar AppBar'
    'SideBar  ListView .';
}

