$containerHeight: 3rem;
.container {
  // border: 1px solid black;
  width: 100%;
  height: $containerHeight;
  margin: auto;
  display: flex;
  margin: 1rem;
}

.avatar {
  background-color: rgb(196, 219, 219);
  border-radius: 10%;
  min-width: $containerHeight;
  height: 100%;
  display: flex;
  padding: 0.4rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;

  &__name {
    width: 100%;
    text-align: left;
  }
  &__vat {
    width: 100%;
    font-size: 0.7rem;
    text-align: left;
  }
  .button {
    margin: auto;
    padding: 4rem;
  }
}
